<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>kranznikolai.com</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
    <meta name="google" content="notranslate" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
            crossorigin="anonymous" />
  </head>
  <body>
    <style>

    </style>
    <nav class="navbar navbar-expand-lg nav-light bg-light shadow" id="mainNav">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">KranzNikolai</a>
          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggle-icon"></span>
          </button>
        </div>
        <div class="class collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item text-black"></li>
            <li class="nav-item text-black"></li>
            <li class="nav-item text-black"></li>
          </ul>
        </div>
    </nav>
  </body>
</html>
